img {
    height: 150px;
    width: 100px;
  }

img.me {
  height: 300px;
  width: auto;
  border-radius: 50%;
}

.navArea {
  background-color: #FFF1E6;
}

.aboutMeArea {
  background-color: #F0EFEB;
}

/* .mainArea {
  background-color: #F0EFEB;
} */

.icons {
  height: 30px;
  width: auto;
}